body {
    background-color: #000000;
    align-content: center;
}
.press_here {
    text-align: center;
    color: #ffffff;
}
.flex-container {
    display: flex;
    justify-content: center;
    padding: 100px;
}
.circle {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #344c25;
    border-color:#344c25;
    font-size: 20px;
    font-family: monospace;
    cursor: pointer;
    filter: drop-shadow(10px 10px 2px #233419);
}

.circle:focus {
    background-color: #800000;
    border-color: #800000;
    filter: drop-shadow(10px 10px 2px #4d0000);
}

.circle:visited {
    background-color: #344c25;
    border-color:#344c25;
    filter: drop-shadow(10px 10px 2px #233419);
}
